#post-header {
  max-width: 100%;
  overflow: hidden;
}

.post-header-title-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-header-title {
  max-width: 100%;
  word-wrap: break-word; /* This ensures long words will break and wrap */
  overflow-wrap: break-word;
}

.post-header-info-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
}

.post-header-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}
